# pictures and movies
*.png
*.mp4

# Result DATA
*.dat

# Archives
*.tar.gz

# Temp files
*.cpp~
*.orig
*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
