# pictures and movies
*.png
*.mp4

# Result DATA
*.dat

# Temp files
*.cpp~
*.orig
*.tmp
results_zero/config.lua
results_rnd/config.lua
results_circle/config.lua
results_circle_biggertemps/config.lua

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
